:root{
    --main-color:rgb(25, 79, 2); /*194f02*/
    --second-color:rgb(38, 38, 38);/*262626*/
    --main-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app_connexion {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: flex-start;
}

#connexion_img {
    width: 50%;
    height: 100vh;
    background: url('../images/login.jpg') no-repeat top center;
    background-size: cover;
}

#connexion_form {
    width: 50%;
    height: 100vh;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#connexion_form form {
    width: 60%;
}

#connexion_form .logo_form img {
    width: 100%;
    margin: 20px 10px;
}

#connexion_form h1 {
    font-family: var(--main-font);
}

#connexion_form .field {
    position: relative;
}

#connexion_form .field input {
    width: 100%;
    height: 40px;
    padding: 5px 40px;
    font-size: 13pt;
    margin: 15px 0px;
}

#connexion_form .field i {
    position: absolute;
    top: 28px;
    left: 10px;
    font-size: 1.2em;
}

#connexion_form .button input {
    width: 100%;
    padding: 15px 5px;
    font-weight: bold;
    font-size: 13pt;
    color: white;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

#connexion_footer h3 {
    margin: 10px 5px 5px 5px;
}

#connexion_footer .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#connexion_footer .icon span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 0.7em;
    margin: 5px;
    border-radius: 100px;
    color: white;
    background-color: var(--main-color);
    cursor: pointer;
}




@media screen and (max-width:650px) {
    #connexion_img {
        display: none;
    }

    #connexion_form {
        width: 100vw;
    }
}
   